body {
    background-color: green;
}
.card {
    text-align: center;
    display: inline-block;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    border: 1px solid black;
    background: white;
    position:relative;
    box-shadow: 10px 10px 5px 5px #323131;
}
.top-suit {
    position: absolute;
    top:0px;
    left:20px;
    font-size:90px;
}
.bottom-suit {
    position: absolute;
    bottom:20px;
    right:20px;
    font-size:90px;
}
.number {

  position: absolute;
  bottom: 15rem;
  left:11rem;
  font-size:100px;
}
